{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>{{ title }}</h1>
    <div class="payload">
        <span class="grey_summary"> {{ pst.description }}</span>
        <div class="update-link">
                <a href="{% url 'posts_update' post_id=pst.id %}">Edit</a>
        </div>
        <hr>
        <div>
            {{ pst.content }}
        </div>
        <hr>
        {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                </p>
                {{ comment.body|linebreaks }}
                </div>
            {% empty %}
                <p>There are no comments yet.</p>
            {% endfor %}
            {% if new_comment %}
                <h2>Your comment has been added.</h2>
            {% else %}
                <h2>Add a new comment</h2>
                <form action="." method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Add comment"></p>
                </form>
            {% endif %}
    </div>
</div>
{% endblock %}
