{% extends 'main/base.html' %}

{% block title %}
Subscribe
{% endblock %}

{% block content %}
<div class="container">
    <h1>Subscribe on Author</h1>
    <div class="error">
        {{ err }}
        </div>
    <div class="payload">
        <form method="POST">
            {% csrf_token %}
            {{ form.email_to }}

            <br><br>
            {{ form.author_id }}
            <br>
            <br>
            <button class ="btn btn-lg btn-success">Subscribe</button>
        </form>
    </div>
</div>
{% endblock %}
